<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subscription.name %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @subscription.birthdate %>
</p>

<p>
  <strong>Artistic name:</strong>
  <%= @subscription.artistic_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @subscription.age %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @subscription.cpf %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @subscription.rg %>
</p>

<p>
  <strong>Address:</strong>
  <%= @subscription.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @subscription.city %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @subscription.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @subscription.email %>
</p>

<p>
  <strong>Schooling:</strong>
  <%= @subscription.schooling %>
</p>

<p>
  <strong>Experienced:</strong>
  <%= @subscription.experienced %>
</p>

<p>
  <strong>Experience description:</strong>
  <%= @subscription.experience_description %>
</p>

<p>
  <strong>Signature:</strong>
  <%= @subscription.signature %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
